.table{
    width: 90%;
    margin: 5%;
    border-radius: 50px;
    box-shadow: 0px 10px 64px 17px rgba(0,0,0,0.1);
    
}

thead{
    height: 20%;
    font-family: var(--letra);

    font-weight: 1000;
    color: blue;
}
tr{
    border: solid beige;
    font-family: var(--letra);
    font-weight: 800;
}

td{
    padding: 10px;
}
.table__button-control{
    display: flex;
    justify-content: space-between;
}
.simple-button--delete{
    background-color: red;
    color: white;
}
.link_admin{
    background-color: var(--azul);
    padding: 1rem;
    margin-left: 45%;
    border-radius: 30px;
}